/*Formato para título del tipo h1*/
h1 {
    font-size: 8vh;
    font-size: 3vw;
    font-weight: bold;
}

/*Formato para titulo del tipo h2*/
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    font-size: 2vw;
}
/*Ancho para imagen en menu principal*/
.img1 {
    display: flex;
    width: 100px;
}

/*Formato para contenido del div central */
#central {
    margin: auto;
    background-color: white;
    display: flex;
    margin-top: 100px;
    width: 400px;
    height: 300px;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    position: relative;

}

/*Formato adicional para los botones bootstrap  */
#botones {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 50px;
}

/* Formato adicional para botones bootstrap */
.btn {
    margin: 2px;
    font-size: 100%;

}

/*Formato para titulo 2 */
#titulo2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*Formato para barra de navegación al final de la página*/
#menu2 {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100px;
}

/*Ancho para ícono de Github en barra de navegación al final de la página*/
.icon {
    width: 50px;
}

/*Formato para el div 'nombre' con texto en su contenido*/
#nombre {

    display: flex;
    margin-top: 5px;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-style: italic;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/*Tamaño adicional para barra de navegación bootstrap */
.navbar1{
    height: 40px;
    width: 100%;
}

/*Imagen de fondo */
body {

    background-image: url('../img/fondo.png');
    background-size: cover;


}

.icon:hover{
    opacity: 10%;
}