h2{
    color: aliceblue;
font-size: 10em;
}

.padre {
    background-image: linear-gradient(to bottom, black 50%, white 50%);
}

.padre::after {
    content: '';
    display: block;
    min-height: 100vh;
}

.hijo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: sticky;
    top: 1vmin;
    mix-blend-mode: difference;
}