/* Formato para elemento h1 */
h1 {
    width: 100vw;
}

/* formato y animación para imágen 1 */
.img1 {
    margin: auto;
    margin-top: 15px;
    width: 25vw;
    height: 40vh;


}

.img1:hover {
    border: solid 5px black;

}

/* Formato adicional al título */
#title {
    margin-top: 70px;
    text-align: center;
}

/* formato al texto dentro de card */
#text1 {
    display: flex;
    margin: auto;
    margin-top: 10px;
    text-align: justify;
    width: 800px;
    font-size: 1.5vw;
}

/* Ajuste adicional a barra de navegación bootstrap */
.navbar {
    display: flex;
    height: 60px;
}

.text-bar {
    font-size: 15px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.navbar-togler {
    display: flex;

}

/* Ajusate adicional a elemento acordeón bootstrap */
.accordion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px;
}

.accordion-body {
    text-align: justify;
    font-size: 1vw;




}

/* Formato para imágenes y descripciones */
.img2 {
    display: flex;
    margin: auto;
    margin-top: 30px;
    width: 30%;
}

.d-img2 {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    font-size: 1vw;
}

.img3 {
    display: flex;
    margin: auto;
    margin-top: 30px;
    width: 30%;
}

.d-img3 {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    font-size: 1vw;
}

/* Ajusate adicional al elemento colapsar bootstrap */
#collapse {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.btn {
    margin: 10px;

}


.row,
.col {
    display: flex;
    margin: 1px;
    justify-content: center;
    width: 95%;
    height: 100%;
    text-align: justify;
    flex-direction: row;
    font-size: 1vw;


}

/* Formato para imágenes y descripciones */
.img4 {
    display: flex;
    margin: auto;
    margin-top: 15px;
    width: 20vw;
    justify-content: center;

}

.d-img4 {

    text-align: center;
    font-style: italic;
    font-size: 1vw;
}


/*Ajustes adicionales a elemento carta bootstrap */
.card {
    display: flex;
    margin: auto;
    margin-top: 20px;
    border: solid;
    width: 95%;
    text-align: justify;
    font-size: 1vw;
}

/* Formato para imágenes y descripciones */
.img5 {
    display: flex;
    margin: auto;
    margin-top: 10px;
    width: 35%;

}

.d-img5 {
    margin-top: 1px;
    text-align: center;
    font-style: italic;
    font-size: 1vw;
}

.img6 {
    display: flex;
    margin: auto;
    margin-top: 10px;
    width: 35%;

}

.d-img6 {
    margin-top: 1px;
    text-align: center;
    font-style: italic;
    font-size: 1vw;
}

.img7 {
    display: flex;
    margin: auto;
    margin-top: 10px;
    width: 35%;

}

.d-img7 {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    font-size: 1vw;
}

/* Estilos para botón subir */
.subir {
    margin: auto;
    display: flex;
    margin-top: 10px;
    width: 5vw;
    height: 10vh;
    opacity: 80%;

}

/* Formato para pie de página */
footer {
    display: flex;
    height: 10vh;
    margin-top: 15px;
    background-color: #212529;


}

/* Color de fondo para body */
body {
    background-color: whitesmoke;
}

/* Animación de scrool para página web */
html {
    scroll-behavior: smooth;
}